* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.cabeçalho {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;

    @media(max-width: 840px) {
        flex-direction: column;
    }
}

.carrossel-slide {
    height: 60vh;
}

.menu {
    justify-content: space-around;
    justify-content: flex-end;
    flex: 1;
    display: flex;
    gap: 40px;
    margin-right: 40px;

    @media(max-width: 900px) {
        gap: 20px;
        margin-top: 10px;
        width: 100%;
        justify-content: space-around;
    }



}

.menu {
    a {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 17px;

        &:hover {

            img {
                opacity: 1;
            }
        }

        @media(max-width: 650px) {
            font-size: 14px;
        }

        @media(max-width: 650px) {
            font-size: 12px;
        }

    }




    img {
        opacity: 0;
        height: 18px;

    }

    .ran {
        height: 22px;
    }

    .so {
        height: 15px;
    }
}
.ativo{
    background: #ff5d988f;
    border-radius: 7px;
    padding: 8px 10px;
    font-weight: bolder;


    .icon-nav{
        opacity: 1;
    }
}



.amarelo {
    background-color: #FF5D98;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.logo {
    height: 60px;

    @media(max-width: 650px) {
        height: 50px;
    }

    @media(max-width: 580px) {
        height: 40px;
    }

}

.titulo2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .l {
        color: #278ACA;
        text-align: center;
        font-size: 34px;
    }

    p {
        width: 380px;
        text-align: center;
        font-size: 22px;
    }

}

.img1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: 250px;
        height: 450px;
    }

    @media(max-width: 1100px) {
        justify-content: center;
        img {
            height: 350px;
        }

    }
      @media(max-width: 800px) {
        justify-content: center;
        margin-right: 40px;
        img {
            height: 320px;
        }

    }
     @media(max-width: 720px) {
        justify-content: center;
        margin-right: 100px;
        img {
            height: 300px;
        }

    }
      @media(max-width: 630px) {
        img {
            display: none;
        }

    }


}

.podio {
    margin-top: -20px;
    display: flex;
    height: 500px;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.primeiro,
.segundo,
.terceiro {
    width: 200px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;

    @media(max-width: 830px) {
        width: 160px;
    }
    
    @media(max-width: 630px) {
        width: 120px;
    }


    img {
        position: absolute;
        top: -150px;
        height: 150px;
        @media(max-width: 630px) {
         height:120px ;
        top: -110px;
    }

    }
}

.primeiro {
    height: 350px;
    background: #FFE200;

    .escrita2 {
        color: white;
        text-align: center;
        margin-bottom: 25vh;

        h1 {
            font-size: 60px;
            font-weight: bold;
            @media(max-width: 630px) {
                font-size: 45px;
            }

        }

        h4 {
            font-size: 30px;
            width: 90px;
             @media(max-width: 630px) {
                font-size: 25px;
            }

        }
    }
}

.segundo {
    height: 280px;
    background: #FF5D98;

    .escrita {
        text-align: center;
        color: white;
        margin-bottom: 16vh;


        h1 {
            font-size: 60px;
            font-weight: bold;
              @media(max-width: 630px) {
                font-size: 45px;
            }

        }

        h4 {
            font-size: 30px;
            width: 90px;
              @media(max-width: 630px) {
                font-size: 25px;
            }


        }
    }


}

.terceiro {
    height: 210px;
    background: #278ACA;

    .escrita3 {
        color: white;
        text-align: center;
        margin-bottom: 7vh;

        h1 {
            font-size: 60px;
            font-weight: bold;
              @media(max-width: 630px) {
                font-size: 45px;
            }

        }

        h4 {
            font-size: 30px;
            width: 90px;
              @media(max-width: 630px) {
                font-size: 25px;
            }


        }
    }
}

.titulo4 {
    margin-top: 50px;
    text-align: center;

}

.outrasalas {
   max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;

    @media(max-width: 1200px) {
        flex-direction: column;
        align-items: center;
       
    }

}
.bloco1,
.bloco2,
.bloco3 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;   

    @media(max-width: 1200px) {
        width: 400px;

    }
}



.categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    @media(max-width: 1200px) {
        gap: 30px;
        ;
    }
}


/* Botão base */
.botao2 {
    width: 70px;
    text-align: center;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    color: black;
    font-size: 20px;

    @media(max-width: 1200px) {
        width: 50px;
        font-size: 17px;
    }
}

/* Botões coloridos */
.botao-amarelo {
    border: 2px solid #FFE200;
    color: #FFE200;
    border: solid 3px;

    &:hover {
        background-color: #FFE200;
        color: white;
    }
}

.botao-rosa {
    border: 2px solid #FF5D98;
    color: #FF5D98;
    border: solid 3px;

    &:hover {
        background-color: #FF5D98;
        color: white;
    }
}


.botao-azul {
    border: 2px solid #278ACA;
    color: #278ACA;
    border: solid 3px;

    &:hover {
        background-color: #278ACA;
        color: white;
    }

}

.botao-verde {
    border: 2px solid #27A236;
    color: #27A236;
    border: solid 3px;

    &:hover {
        background-color: #27A236;
        color: white;
    }

}

.amarelo3 {
    font-size: 30px;
    font-weight: bold;
    color: #FFE200;

    @media(max-width: 1200px) {
        font-size: 25px;
    }
}


.amarelo2 {
    h3 {
        font-size: 28px;
        color: #FFE200;

        @media(max-width: 1200px) {
            font-size: 23px;
        }
    }
}

.rosa {
    font-size: 30px;
    font-weight: bold;
    color: #FF5D98;

    @media(max-width: 1200px) {
        font-size: 25px;
    }
}

.rosa2 {
    h3 {
        font-size: 28px;
        color: #FF5D98;

        @media(max-width: 1200px) {
            font-size: 23px;
        }
    }
}

.azul {
    font-size: 30px;
    font-weight: bold;
    color: #278ACA;

    @media(max-width: 1200px) {
        font-size: 25px;
    }
}

.azul2 {
    h3 {
        font-size: 28px;
        color: #278ACA;

        @media(max-width: 1200px) {
            font-size: 23px;
        }
    }
}

.verde {
    font-size: 30px;
    font-weight: bold;
    color: #27A236;

    @media(max-width: 1200px) {
        font-size: 25px;
    }
}

.verde2 {
    h3 {
        font-size: 28px;
        color: #27A236;

        @media(max-width: 1200px) {
            font-size: 23px;
        }
    }
}

.container {
    border: solid 2px #FFE200;
    border-radius: 8px;
    padding: 15px 20px;
    text-align: center;
    margin: 40px auto;
    width: 500px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    @media(max-width: 650px) {
        width: 400px;
        ;
    }

    p {
        font-size: 23px;
    }
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #00066F;
    text-align: center;
}

.container2 {
    border: solid 2px #FFE200;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    width: 500px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    @media(max-width: 650px) {
        width: 400px;
        ;
    }

    p {
        font-size: 23px;
    }

    p {
        font-size: 23px
    }
}

.doar {
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #00066F;
    border: 0;
    border-radius: 6px;
    color: white;

    &:hover {
        background: #FFE200;
    }
}

.rodape {
    background: url("./img/fundo.png") no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    min-height: 50vh;
    align-items: center;

    @media(max-width: 1000px) {
        background-size: auto;
    }
    

}


.redes {
    margin-top: 50px;
    margin-left: 60px;

    @media(max-width: 600px) {
        margin-left: 25px;
    }
     @media(max-width: 500px) {
        margin-top: 90px;
        }



    hr {
        border: solid 1px #00066F;

        @media(max-width: 650px) {
            width: 230px;

        }

        @media(max-width: 550px) {
            width: 190px;
        }

    }

    h3 {

        color: #00066F;

        @media(max-width: 1200px) {
            font-size: 16px;
        }

        @media(max-width: 650px) {
            font-size: 13px;

        }

        @media(max-width: 550px) {
            font-size: 11px;
        }

    }



    img {

        padding: 10px;

        @media(max-width: 1000px) {
            height: 30px;
        }

        @media(max-width: 550px) {
            height: 25px;
            padding: 5px;
        }

        @media(max-width: 500px) {
            height: 20px;
            padding: 3px;
        }

    }
}

.termos {
    margin-top: 30px;

    @media(max-width: 500px) {
        flex-direction: column;
    }


    h3 {
        color: #00066F;
    }

    hr {
        border: solid 1px #00066F;
    }

}

.politicas {
    margin-top: 7px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media(max-width: 550px) {
        flex-direction: column;
        gap: 5px;

    }
     

    h4 {

        &:hover {
            color: #00066F;
        }

        @media(max-width: 890px) {
            font-size: 15px;


        }

        @media(max-width: 650px) {
            font-size: 13px;

        }

        @media(max-width: 550px) {
            font-size: 11px;
            width: 150px;
        }


    }
}

.politicas2 {
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 47px;

    @media(max-width: 550px) {
        flex-direction: column;
        gap: 0;

    }
    



    @media(max-width: 880px) {
        gap: 13px;

    }

    h4 {
        &:hover {
            color: #00066F;
        }

        @media(max-width: 890px) {
            font-size: 15px;

        }

        @media(max-width: 650px) {
            font-size: 13px;

        }

        @media(max-width: 550px) {
            font-size: 11px;
        }
      


    }
}

.imgrodape {
    margin-top: 80px;
    padding: 57px;
    @media(max-width:500px){
        padding: 0;
    }

    p {
        width: 250px;
        color: white;

        @media(max-width: 750px) {
            width: 150px;
            font-size: 10px;
        }

        @media(max-width: 550px) {
            font-size: 8px;
            text-align: center;
            width: 120px;
        }


    }

    img {
        @media(max-width: 750px) {
            height: 50px;

        }

        @media(max-width: 550px) {
            height: 40px;
        }


    }

}


.azulrodape {
    padding: 20px;
    background: #346278;
    color: white;
    display: flex;
    justify-content: center;

    @media(max-width: 650px) {
        font-size: 12px;
        padding: 12px;

    }


}